<template>
  <div class="sum">
    <numbers></numbers>
    {{ sum }}

    <p>You have generated {{ total }} random numbers</p>

  </div>
</template>

<script>

  import Numbers from "./Numbers";
  import { mapGetters } from 'vuex'

export default {
  name: 'sum',
  components: {
    Numbers,
  },
  computed: {
    ...mapGetters({
      sum: 'sum',
      total: 'totalNumbers'
    })
  }
}
</script>
